body {
  font-family: 'Roboto';
  background-color: #E5E5E5;
}

label {
  font-size: 40%;
  font-family: 'Roboto';
}

#sign-in-top-text {
  font-size: 40%;
}

#sign-in-container {
  width: 98%;
  height: 90vh;
  display: flex;
  flex-direction: row;
}

#welcome-text {
  font-size: 110%;
}

#sign-in-input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  height: 100%;
  background-color: #FFFFFF;
}

#sign-in-input-form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 70%;
  width: auto;
}

#sign-in-splash {
  width: 60%;
  background-image: url('./background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#sign-in-button {
  background-color: black;
  color: white;
}

#create-account-button {
  background-color: white;
  color: black;
  border: 1px solid black;
}
