body {
  font-family: 'Roboto';
  background-color: #E5E5E5;
}

label {
  font-size: 40%;
  font-family: 'Roboto';
}

#sign-in-top-text {
  font-size: 40%;
}

#sign-in-container {
  width: 98%;
  height: 90vh;
  display: flex;
  flex-direction: row;
}

#welcome-text {
  font-size: 110%;
}

#sign-in-input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  height: 100%;
  background-color: #FFFFFF;
}

#sign-in-input-form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 70%;
  width: auto;
}

#sign-in-splash {
  width: 60%;
  background-image: url('./background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#sign-in-button {
  background-color: black;
  color: white;
}

#create-account-button {
  background-color: white;
  color: black;
  border: 1px solid black;
}

#application-container {
  width: 98%;
  height: 90vh;
  display: flex;
  flex-direction: row;
}

#app-left-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 30%;
  height: 100%;
  background-color: #FFFFFF;
}

#app-task-lists-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}

#search-bar {
  width: 100%;
  height: 40px;
  background-color: #0B2184;
  color: white;
}

#task-lists-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#task-list {
  margin: 10px;
  min-width: 400px;
}

#task-card {
  padding: 3px;
  margin-bottom: 2px;
  width: 100%;
  border-bottom: 1px solid #F6F5F5;
  background-color: #FFFFFF;
  box-shadow: 3px, 4px, #EBEBEB;
}

#add-task-button {
  margin-bottom: 2px;
  width: 100%;
  height: 60px;
  font-size: 20%;
  background-color: #F6F8FE;
  color: #876AF8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#task-list-header {
  margin-bottom: 2px;
  padding: 5px;
  height: 100px;
  background-color: #FFFFFF;
  color: #5D62B1;
}

#task-card {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#task-card-app-designation {
  font-size: 40%;
  color: #ADADAD;
}

#task-card-info {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
